body {
  margin: 0;
}

.cron-label {
  font-size: 1.15em;
  font-weight: 600;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  min-width: 180px;
}

.conf-reload {
  cursor: pointer;
  margin-left: 0.5em;
  color: #0066cc;
  vertical-align: middle;
}
.conf-reload:hover {
  color: #004080;
}

.conf-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

// Entfernt das linke Padding im Cockpit-Plugin-Content
.pf-v5-c-page__main-section,
.pf-v5-c-page__main {
  padding-left: 0 !important;
}
